<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: header"></nav>

<div class="container main-content form">
    <div class="row">
        <form action="#" th:action="@{/movie/save}" th:object="${movie}"
              method="POST" novalidate="novalidate">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label th:text="#{name}"></label>
                <input type="text" class="form-control"
                       th:field="*{name}" th:errorclass="field-error"/>
            </div>
            <div class="form-group">
                <label th:text="#{type}"></label>
                <input type="text" class="form-control"
                       th:field="*{type}" th:errorclass="field-error"/>
            </div>
            <div class="form-group">
                <label th:text="#{date}"></label>
                <input type="text" class="form-control"
                       th:field="*{date}" th:errorclass="field-error"/>
            </div>
            <div class="form-group">
                <label th:text="#{length}"></label>
                <input type="text" class="form-control"
                       th:field="*{length}" th:errorclass="field-error"/>
            </div>
            <div class="form-group">
                <label th:text="#{rate}"></label>
                <input type="text" class="form-control"
                       th:field="*{rate}" th:errorclass="field-error"/>
            </div>
            <div class="form-group">
                <label th:text="#{watch}"></label>
                <input type="text" class="form-control"
                       th:field="*{watch}" th:errorclass="field-error"/>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>