<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" th:href="@{/css/jquery-latest.js}"></script>
    <script type="text/javascript"
            th:href="@{/css/jquery.tablesorter.js}"></script>

    <title>MovieStorage</title>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.tablesorter.pager.js"></script>

    <link href="../static/images/logo.png" th:href="@{/images/logo.png}"
          rel="shortcut icon"/>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"
          rel="stylesheet"/>
    <!-- Custom style -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}"
          rel="stylesheet"/>


    <!--<script-->
    <!--src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"-->
    <!--th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>-->

    <!--<script-->
    <!--src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
    <!--th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>-->


    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body>
<script type="text/javascript">
$(document).ready(function()
{
$("#myTable").tablesorter();
}
);
</script>
$(document).ready(function()
<nav th:replace="layout :: header"></nav>

<div class="container main-content list">
    <div th:if="${success}" class="row alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <span th:text="${success}"></span>
    </div>

    <th:block th:if="${#lists.isEmpty(movies)}">
        <h3 th:text="#{greeting.header}"></h3>
    </th:block>

    <th:block th:unless="${#lists.isEmpty(movies)}">
        <div class="row">
            <a th:href="@{/create}" class="btn btn-success pull-left">
                <span class="glyphicon glyphicon-plus" th:text="#{add}"></span>
            </a>
            <form class="form-inline pull-right" action="#" th:action="@{/search}" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" name="q"
                           placeholder="..."/>
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{search}"></button>
            </form>
        </div>


        <div class="row">

            <table class="table table-bordered table-hover" id="myTable">
                <thead>
                <tr>

                    <th>ID</th>

                    <th th:text="#{name}"></th>
                    <th th:text="#{type}"></th>
                    <th th:text="#{date}"></th>
                    <th th:text="#{length}"></th>
                    <th th:text="#{rate}"></th>
                    <th th:text="#{watch}">?</th>
                    <th th:text="#{watch}"></th>
                    <th th:text="#{edit}">Edytuj</th>
                    <th th:text="#{delete}">Usuń</th>


                </tr>
                </thead>
                <tbody>
                <tr th:each="movie,iterStat : ${movies}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${movie.name}"></td>
                    <td th:text="${movie.type}"></td>
                    <td th:text="${movie.date}"></td>
                    <td th:text="${movie.length}"></td>
                    <td th:text="${movie.rate}"></td>
                    <td th:text="${movie.watch}"></td>
                    <td th:text="${movie.createdByUser}"></td>


                    <td><a th:href="@{/{id}/edit(id=${movie.id})}"><span
                            class="glyphicon glyphicon-pencil"></span></a></td>
                    <td><a th:href="@{/{id}/delete(id=${movie.id})}"><span
                            class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>
</div>
<!-- /.container -->


<footer th:replace="layout :: footer"></footer>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
                $("#myTable").tablesorter();
            }
    );
</script>